

/* Navbar */
.navbar {
    width: 100%;
    z-index: 100;
    position: fixed !important;
    top: 0;
    background-color: #25274D;
    font-size: 20px;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none;
}

.navbar-nav {
    font-family: 'Fira Mono', monospace;
}

.nav-link {
    color: #FFF;
    transition: all .3s ease;
}

.nav-link:hover {
    color: #2E9CCA;
}

.header-button {
    width: 48px;
    height: 48px;
}

.header-link {
    width: 48px;
    height: 48px;
    fill: #FFF;
    transition: all .3s ease;
}

.header-button:hover .header-link {
    fill: #2E9CCA;
}

/* Intro Page */

.intropage {
    background-color: #25274D;
    height: auto;
    min-height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
}

.text-header-container {
    z-index: 5;
}

h1#nice-header {
    z-index: 5;
    display: block;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
    transition: all .5s ease;
}

h1#intro-header {
    z-index: 5;
    color: #2E9CCA;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s ease;
}

h1#intro-other-header {
    z-index: 5;
    display: block;
    color: rgb(101, 101, 110);
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    transition: all .5s ease;
}

/* Social Media Button Bar */

.social-container {
    z-index: 10;
    position: fixed;
    width: 40px;
    left: 16px;
    bottom: 0px;
    align-items: center;
}

.social-button {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.social-link {
    width: 30px;
    height: 30px;
    fill: #FFF;
    transition: all .3s ease;
}

.social-button:hover .social-link {
    fill: #2E9CCA;
    transform: translate(0,-2px);
}

.social-container-mobile {
    visibility: hidden;
    z-index: 5;
    position: fixed;
    align-items: center;
    width: auto;
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
}

/* About me Page */

.aboutme {
    background-color: #25274D;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

.aboutme-content {
    color: white;
}

h1#aboutme-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 50px;
    transition: all .5s ease;
}

.aboutme-content-holder {
    width: 1000px;
    height: auto;
    transition: all .5s ease;
}

.aboutme-text-holder {
    width: 550px;
    height: auto;
    overflow-wrap: normal;
    padding-left: 15px;
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    color: #AAABB8;
    font-size: 16px;
}

.aboutme-text-holder b{
    color: #2E9CCA;
}

.aboutme-image-holder {
    margin-left: 20px;
}

.headshot {
    max-width: 100%;
    height: auto;
}

/* JQuery Loading Stuff  */

.memes {
    opacity: 0;
}

.load {
    opacity: 1;
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
    div#navbarText {
        margin-top: 10px;
    }

    .social-container {
      visibility: hidden;
    }

    .social-container-mobile {
        visibility: visible;
    }

    .social-button {
        margin-bottom: 0px;
    }

    h1#nice-header {
        margin-left: 10px;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 50px;
    }
    
    h1#intro-header {
        margin-left: 10px;
        color: #2E9CCA;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    
    h1#intro-other-header {
        margin-left: 10px;
        color: rgb(101, 101, 110);
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }

    h1#aboutme-header {
        font-size: 30px;
    }

    .aboutme-content-holder {
        width: 600px;
        height: auto;
    }
    
    .aboutme-text-holder {
        width: 300px;
        height: auto;
        font-size: 14px;
    }
    .aboutme-image-holder {
        margin-left: 10px;
    }

    .headshot {
        width: 200px;
        height: auto;
    }
  }

/* Phone view */
@media (min-width: 320px) and (max-width: 767px) {

    .navbar {
        font-size: 18px;
    }
    
    div#navbarText {
        margin-top: 10px;
    }

    .social-container {
      visibility: hidden;
    }

    .social-container-mobile {
        visibility: visible;
    }

    .social-button {
        margin-bottom: 0px;
        width: 28px;
        height: 28px;
        
    }
    
    .social-link {
        width: 28px;
        height: 28px;
    }

    .header-button {
        width: 45px;
        height: 45px;
    }
    
    .header-link {
        width: 45px;
        height: 45px;
    }

    h1#nice-header {
        margin-left: 10px;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 37.5px;
    }
    
    h1#intro-header {
        margin-left: 10px;
        color: #2E9CCA;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    
    h1#intro-other-header {
        margin-left: 10px;
        color: rgb(101, 101, 110);
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    }

    h1#aboutme-header {
        font-size: 30px;
    }

    .aboutme-content-holder {
        width: 300px;
        height: auto;
    }
    
    .aboutme-text-holder {
        width: 175px;
        height: auto;
        font-size: 10px;
    }
    .fix {
        width: 100px;
    }

    .aboutme-image-holder {
        margin-left: 10px;
    }
    
  }

